<div class="input-wrapper">
    <div class="input">Input</div>
    <div class="text">Text</div>
    <input class="inputstyle" type="text">
    <div class="textarea">Textarea</div>
    <textarea class="textareastyle"></textarea>
    <div class="select">Select</div>
    <select class="selectstyle" name="options">
        <option value="hidden">Select one of the below</option>
        <option value="option-1">Option 1</option>
        <option value="option-2">Option 2</option>
        <option value="option-3">Option 3</option>
    </select>        
   <div class="checkbox">Checkbox</div>
   <input class="checkboxstyle" type="checkbox">
    </div>